{% load static %}   <!-- Подключаем статические файлы( css файлы и картики) -->
<!DOCTYPE html>
<html lang="ru">    <!-- -->
  <head>
      <!-- В парном теге <head></head> установка доп файлов и логика страницы   -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StemBlog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <!-- Указываем путь-ссылку на наш css файл -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
  </head>
  <body>
        <!--  В парном теге <body></body> находится вся визуальная часть страницы    -->
        <!-- Создаем верхний блок страницы   -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <!-- Добавляем главную кнопку "Stem" -->
                <!-- href="{% url 'home' %}" в таком виде передаем наш путь до urls.py (Имя "home" соответствует функции "welcoming"  )  -->
                <a class="navbar-brand" href="{% url 'home' %}">Stem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Создаем блок последовательно расположенных кнопок    -->

                <div class="collapse navbar-collapse">

                    <!-- Тег <ul> создает последовательность -->
                    <ul class="navbar-nav">
                        {%  if user.is_authenticated  %}
                        <!--Кнопка "Новости" -->
                        <li>
                            <a class="btn btn-dark" href="{% url 'news' %}">Новости</a>
                        </li>

                        <!--Кнопка "Создания новости" -->
                        <li>
                            <a class="btn btn-dark" href="{% url 'create_news' %}">Создать новость</a>
                        </li>

                        <!--Кнопка "Конвертер" -->
                        <li>
                            <a class="btn btn-dark" href="{% url 'convert' %}">Конвертер</a>
                        </li>
                        {% else %}
                        <div class="alert alert-secondary" role="alert">
                            Вам нужно зарегистрироваться или войти
                        </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {%  if user.is_authenticated  %}
                <a class="btn btn-dark me-md-2" href="{% url 'logout' %}">Выйти</a>
                {% else %}
                <a class="btn btn-dark me-md-2" href="{% url 'login' %}" >Войти</a>
                {% endif %}
            </div>
        </nav>
    </div>
    <hr>
        <!-- Отдельно создаем блок для наследования -->
    <div class="container">
        <!--Здесь в зависимости от страницы располагаются их содержимое -->
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>