{% extends 'front/base.html' %}

{% block content %}
    {% load humanize %}
<form method="get">
    <div class="input-group mb-3">
        <input  name="search" type="text" class="form-control" placeholder="Введите новость" aria-label="Имя пользователя получателя" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Найти</button>
    </div>
</form>
    <div class="row row-cols-4 row-col-md-3 g-4">
    <!-- С помощью цикла достоем данные из news-->
        {% for newss in news %}
        <div class="col">
        <!-- Выводим в виде карточки данные -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ newss.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ newss.date | naturalday}}</h6>
{#                    <p class="card-text">{{ newss.content }}</p>#}
                    <a href="{% url 'views_news_id' newss.id %}" class="card-link">Посмотреть</a>
                    {% if user == newss.user %}
                    <a href="{% url 'update' newss.id  %}" class="card-link">Изменить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}


{% block footer %}
<nav aria-label="Пример навигации по страницам">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Предыдущая</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Следующая</a>
    </li>
  </ul>
</nav>
{% endblock %}