{% extends 'front/base.html' %}


{% block content %}
    {% load humanize %}
<form method="get">
    <div class="input-group mb-3">
        <input  name="search" type="text" class="form-control" placeholder="Введите новость" aria-label="Имя пользователя получателя" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Найти</button>
    </div>
</form>
    <div class="row row-cols-4 row-col-md-3 g-4">
    <!-- С помощью цикла достоем данные из news-->
        {% for newss in news %}
        <div class="col">
        <!-- Выводим в виде карточки данные -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ newss.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ newss.date | naturalday}}</h6>
{#                    <p class="card-text">{{ newss.content }}</p>#}
                    <a href="{% url 'views_news_id' newss.id %}" class="card-link">Посмотреть</a>
                    {% if user == newss.user %}
                    <a href="{% url 'update' newss.id  %}" class="card-link">Изменить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}


{% block footer %}
{% load l10n %}
<footer class="text-center text-lg-start text-muted">
    <div class="container p-4">

        {% if page_obj.has_other_pages %}
        <nav aria-label="...">
          <ul class="pagination justify-content-center">

          {% localize off %}
            {# Первая страница #}
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'news' %}?p=1&s={{ search_str }}">1 << </a>
            </li>
            {% endif %}

            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
              <a class="page-link"
                 {% if page_obj.has_previous %}
                 href="{% url 'news' %}?p={{ page_obj.previous_page_number }}&s={{ search_str }}"
                 {% endif %}
              >Предыдущая</a>
            </li>

            {# Предыдущая страница #}
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'news' %}?p={{ page_obj.previous_page_number }}&s={{ search_str }}">{{ page_obj.previous_page_number }}</a>
                </li>
            {% endif %}


            {# Текущая страница #}
            <li class="page-item active" aria-current="page">
              <a class="page-link">{{ page_obj.number }}</a>
            </li>


            {# Следующая страница #}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'news' %}?p={{ page_obj.next_page_number }}&s={{ search_str }}">{{ page_obj.next_page_number }}</a>
            </li>
            {% endif %}

            {# Запасная страница #}
            {% if page_obj.number|add:'1' < paginator.num_pages %}
            <li class="page-item">
                <a class="page-link" href="{% url 'news' %}?p={{ page_obj.number|add:'2' }}&s={{ search_str }}">{{ page_obj.number|add:'2' }}</a>
            </li>
            {% endif %}

            {# Следующая страница #}
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
              <a class="page-link"
                 {% if page_obj.has_next %}
                 href="{% url 'news' %}?p={{ page_obj.next_page_number }}&s={{ search_str }}"
                 {% endif %}
              >Следующая</a>
            </li>

            {# Последняя страница #}
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="{% url 'news' %}?p={{ paginator.num_pages }}&s={{ search_str }}"> >> {{ paginator.num_pages }}</a>
            </li>
            {% endif %}
          {% endlocalize %}
          </ul>
        </nav>
    {% endif %}
    </div>
</footer>

{% endblock %}